:root {
    --main-font: "Poppins", Arial, Helvetica, sans-serif;
    --cursive: 'Nothing You Could Do', cursive;
}

body,
.main__body {
    font-family: var(--main-font);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-size: 14px;
    line-height: 1.3;
    overflow-x: hidden;
    min-height: 100%;
    background-color: #fff;
    color: #333;
}

.main__app {
    height: 100%;
    min-height: 100vh;
}

.main__body,
.section__dashboard,
.in__dashboard {
    height: 100%;
}

.main__body {
    background-color: #FFF; 
}

.aside__dboard-left-panel {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 260px;
    z-index: 3;
    background-color: #168aad;
}

.in__dboard-left-panel,
.in__dboard-right-panel {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.h1__left-panel-heading {
    font-family: var(--main-font);
    font-size: 28px;
    font-weight: 500;
    color: #FFF;
    text-align: left;
    letter-spacing: 0.4px;
    padding: 40px 20px 20px;
}

.ul__album-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

.a__album-link {
    font-family: var(--main-font);
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-size: 16px;
    color: #efefef;
    line-height: 1.3;
    cursor: pointer;
    text-decoration: none;
    transition: .3s ease all;
}

.a__album-link:hover,
.a__album-link.link-active {
    color: #FFF;
    text-decoration: underline;
}

.ul__album-list li {
    padding: 10px 20px 10px 40px;
}



.aside__dboard-right-panel {
    width: calc(100% - 260px);
    margin-left: auto;
}
.wrap__folder-heading {
    position: fixed;
    left: 260px;
    right: 0;
    top: 0;
    z-index: 2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* padding-left: 86px; */
    background-color: #FFF;
}

.button__sidebar-menu {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    background-color: #168aad;
    border-radius: 2px;
    padding: 5px 10px;
    color: #FFF;
    font-size: 13px;
    cursor: pointer;
    display: none;
}

.h1__album-folder-name {
    font-family: var(--main-font);
    font-weight: 500;
    letter-spacing: 0.2px;
    font-size: 28px;
    color: #4a4e69;
    line-height: 1.3;
}
.button__go-to-drive {
    background-color: #168aad;
    border-radius: 4px;
    padding: 8px 20px;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}
.button__go-to-drive:hover {
    background-color: #1aa1ca;
}
.ul__album-img-list {
    padding: 61px 0 20px 20px;
}

.li__album-img-preview {
    width: 100%;
    display: inline-block;
    max-width: 332px;
    z-index: 1;
    cursor: pointer;
    margin: 20px 20px 0 0;
}

.in__img-preview {
    border-radius: 6px;
    background-color: #FFF;
    width: 100%;
    position: relative;
    /* border: 1px solid #cfdbd5; */
    box-shadow: 0 0 4px -2px rgba(0, 0, 0, 0.6);
    /* box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.15); */
    overflow: hidden;
    transition: .3s ease all;
}

.li__album-img-preview:hover .in__img-preview {
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.3);
}

.wrap__img-description {
    background-color: #333;
    color: #FFF;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap__img-content {
    width: 100%;
    height: 249px;
    position: relative;
    background-color: #f7f7f7;
    overflow: hidden;
}

.img__album {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 332px;
    height: auto;
}

.p__img-desc {
    font-family: var(--main-font);
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 18px;
    color: #dfdfdf;
    line-height: 1.3;
    width: calc(100% - 87px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.a__img-link {
    background-color: #168aad;
    border-radius: 2px;
    padding: 4px 10px;
    color: #FFF;
    font-size: 12px;
    cursor: pointer;
}

.a__img-link:hover {
    background-color: #1aa1ca;
}