:root {
    --main-font: "Poppins", Arial, Helvetica, sans-serif;
    --cursive: 'Nothing You Could Do', cursive;
}

body,
.main__body {
    font-family: var(--main-font);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-size: 14px;
    line-height: 1.3;
    overflow-x: hidden;
    min-height: 100%;
    background-color: #fff;
    color: #333;
}

.main__app {
    height: 100%;
    min-height: 100vh;
}

.main__body {
    height: 100%;
}

.container__comn {
    max-width: 1186px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    overflow-x: hidden;
}

.main__body {
    background-color: #168aad; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 15px;
}

.intro-heading, .p__qoute {
    font-family: var(--cursive);
    font-size: 42px;
    color: #FFF;
    text-align: center;
}

.p__qoute {
    font-size: 21px;
    margin: 80px auto 0;
    /* max-width: 400px; */
}

.in__login-form {
    max-width: 380px;
    border-radius: 4px;
    border: none;
    background-color: #FFF;
    box-shadow: 0 0 14px 0px rgba(0, 0, 0, 0.15);
    padding: 15px 20px 10px;
    margin: 10px auto;
}

.h1__login-form {
    font-family: var(--main-font);
    font-size: 32px;
    font-weight: 500;
    color: #f8961e;
    text-align: center;
    letter-spacing: 1px;
    padding: 0 0 20px;
}

.form__user-sign {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    border: none;
}

.wrap__form-grp {
    margin-bottom: 14px;
}

.input__form-comn{
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 400;
    color: #227c9d;
    font-weight: 500;
    text-align: center;
    width: 100%;
    height: 48px;
    background-color: #FFF;
    /* border: none; */
    border: 1px solid #cfdbd5;
    border-radius: 4px;
    padding: 2px 20px;
}

.input__form-comn::placeholder {
    color: #bcb8b1;
}

.input__form-comn::-moz-placeholder {
    color: #bcb8b1;
}

.input__form-comn::-webkit-input-placeholder {
    color: #bcb8b1;
}

.input__form-comn:focus,
.input__form-comn:hover{
    border: 1px solid rgba(243, 114, 44, 0.6);
}

.button__form-comn {
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 400;
    color: #FFF;
    font-weight: 500;
    text-align: center;
    width: 100%;
    height: 48px;
    background-color: #f8961e;
    border: none;
    border-radius: 4px;
    letter-spacing: 0.4px;
    cursor: pointer;
    transition: .3s ease all;
}

.button__form-comn:hover {
    background-color: #f78b08;
}

.p__error-msg {
    font-family: var(--main-font);
    font-size: 13px;
    font-weight: 400;
    color: red;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5px;
}

@media screen and (max-width: 480px) {
    .intro-heading {
        font-size: 34px;
    }

    .p__qoute {
        font-size: 18px;
        margin-top: 50px;
    }

    .h1__login-form {
        font-size: 26px;
    }
}